:root {
    --box-width: 24rem;
    --box-height: 12rem;
    --text-width: 22rem;
    --text-height: 10rem;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.page-wrapper {
    display: flex;
    width: 100%;
    min-height: 100%;
}

.distracted {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
    background-color: lightblue;
    padding-top: 2rem;
    height: 100vh;
}

.concurrent {
    position: sticky;
    top: 0;
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: flex-start;
    background-color: lightgreen;
    padding-top: 2rem;
    height: 100vh;
}

h1 {
    font-family: sans-serif;
    color: red;
}
.container {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    min-height: 100%;
}
.box {
    width: var(--box-width);
    height: var(--box-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1 { background-color: red; }
.box-2 { background-color: blue; }
.box-3 { background-color: green; }
.box-4 { background-color: yellow; }
.box-5 { background-color: purple; }

.text {
    background-color: beige;
    width: var(--text-width);
    height: var(--text-height);
    resize: none;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.new-card {
    margin: 20px;
}

.vl{
    border-left: 0.25rem solid black;
    height: 100px;
}
    
.arrow-down {
    margin-top: -1.5rem;
    width: 0;
    height: 0;
    border-left: 0.85rem solid transparent;
    border-right: 0.85rem solid transparent;
    border-top: 0.85rem solid #000;
}